# Ignorar dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Expo / React Native cache
.expo/
.expo-shared/
.expo/*
*.expo

# Config do sistema
.DS_Store
Thumbs.db

# Ignorar banco de dados, pois ele muda frequentemente
*.db